node_modules
bower_components
dist
public
venv
epbdserver/templates/*
epbdserver/static/*
epbdserver/epbdserver/settings/production.py
secretkey.txt
stats.json
*.log
*.generated.*
npm-debug.log
__pycache__
