html {
    body {
        /* font-size: 100%;
        background: url(../img/repeater.jpg); */
        padding-top: 60px;
        .panel-body {padding:5px 5px 0 5px;}
        .form-group {margin-bottom:5px;}
        #components {
           .bg-info {background-color: #b7caff; cursor: pointer;}
           .deliveredstyle * {color: blue;}
           .inactivecomponent * {color: gray;}
           }
        #globalvarscontrol {
           #kexp, #area, #buttons {
               margin:0;
               display: inline-block;
               padding: 5px;
               label {display: inline;}
               input[type=range] {width: 40%; display: inline; vertical-align: middle;}
               input[type=text] {width: 20%; display: inline; vertical-align: middle; color:black;}
               input[type=number] {width: 60%; display: inline; vertical-align: middle;}
           }
        }
        .footer {
            margin-top: 20px;
        }
        .help-header {
            text-decoration: underline;
        }
    }
}
