html {
    body {
        /* font-size: 100%;
        background: url(../img/repeater.jpg); */
        padding-top: 40px;
        #components {
           .bg-info {background-color: #b7caff; cursor: pointer;}
           }
        #kexp, #krdel {
               display: inline-block;
               padding: 5px 5% 5px 0;
               span {font-weight: bold;};
               input[type=range] {
                                 width: 150px;
                                 display: inline;
                                 vertical-align: middle;
                                 }
        }
    }
}
